<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="dataSource" 
      class="org.springframework.jdbc.datasource.DriverManagerDataSource">
      <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
      <property name="url" value="jdbc:mysql://localhost:3306/HiJinksComms"/>
      <property name="username" value="root"/>
      <property name="password" value="123456"/>
    </bean>
    
	<bean id="communityJDBCTemplate"
      class="com.hijinks.comms.dao.impl.CommunityJDBCTemplate">
      <property name="dataSource"  ref="dataSource" />
    </bean>
   
	<bean id="invitationJDBCTemplate"
      class="com.hijinks.comms.dao.impl.InvitationJDBCTemplate">
      <property name="dataSource"  ref="dataSource" />
    </bean>
   
	<bean id="announcementJDBCTemplate"
      class="com.hijinks.comms.dao.impl.AnnouncementJDBCTemplate">
      <property name="dataSource"  ref="dataSource" />
    </bean>
   
	<bean id="userJDBCTemplate"
      class="com.hijinks.comms.dao.impl.UserJDBCTemplate">
      <property name="dataSource"  ref="dataSource" />
    </bean>
	
	<bean id="requestJDBCTemplate"
      class="com.hijinks.comms.dao.impl.RequestJDBCTemplate">
      <property name="dataSource"  ref="dataSource" />
    </bean>
    
	    
	<bean id="communityService"
      class="com.hijinks.comms.service.impl.CommunityServiceImpl">
      <property name="communityDAO"  ref="communityJDBCTemplate" />
    </bean>
   
	<bean id="invitationService"
      class="com.hijinks.comms.service.impl.InvitationServiceImpl">
      <property name="invitationDAO"  ref="invitationJDBCTemplate" />
      <property name="communityDAO"  ref="communityJDBCTemplate" />
    </bean>
   
	<bean id="announcementService"
      class="com.hijinks.comms.service.impl.AnnouncementServiceImpl">
      <property name="announcementDAO"  ref="announcementJDBCTemplate" />
    </bean>
   
	<bean id="userService"
      class="com.hijinks.comms.service.impl.UserServiceImpl">
      <property name="userDAO"  ref="userJDBCTemplate" />
    </bean>
	
	<bean id="requestService"
      class="com.hijinks.comms.service.impl.RequestServiceImpl">
      <property name="requestDAO"  ref="requestJDBCTemplate" />
      <property name="communityDAO"  ref="communityJDBCTemplate" />
    </bean>
</beans>
